
:root {
  --main-bg-color:#0b152e;
  --main-fg-color:#0f0;
}


/* Typefaces start */
@import 'http://fonts.googleapis.com/css?family=Work+Sans:300,400,500';


@font-face {
    font-family: 'notdef';
    src: url('/fonts/notdef.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 



@font-face {
    font-family: 'GT Super Display';
    src: url('/fonts/GT-Super-Display-Super.woff2') format('woff2'),
         url('/fonts/GT-Super-Display-Super.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'GT Super Display Italic';
    src: url('/fonts/GT-Super-Display-Super-Italic.woff2') format('woff2'),
         url('/fonts/GT-Super-Display-Super-Italic.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}


/* Typefaces end */


body {
/*	cursor: -webkit-image-set(url(/logos/arrow-up.svg) 2.75x ) 14 19, auto;	
*/	
	background:var(--main-bg-color);
	color:var(--main-fg-color);
	font-family: 'Work Sans', sans-serif;		
	margin:0;
	overflow-y:auto;
	font-weight:300;	
	font-size:12pt;
	margin:0;
	line-height:1.2em;
	/*hyphens:auto;*/
	cursor: -webkit-image-set(url(/logos/working-up.svg) 3x ) 27 23, auto;
	overflow-x:hidden;
}

::selection{
	background:rgba(0,255,0,0.99);
	color:var(--main-bg-color);
}

::-moz-selection{
	background:rgba(0,255,0,0.99);
	color:var(--main-bg-color);
}

/* TYPOGRAPHY RULES */

a{
	color:#00ff00;
	text-decoration:underline;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

a:hover{
	text-decoration:line-through;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

h2, h3, h4, h5, h6 {
	font-weight:300;
}

h1{
	font-family:GT Super Display;
	font-size:6.9vw;
	line-height:0.9em;
	display:block;
	text-transform:uppercase;
	text-align:justify;
	text-align-last:justify;
/* for IE9 */
	-ms-text-align-last:justify;
	-ms-text-align:justify;
/*	word-spacing:-18px;
*/	word-spacing:-18px;
	margin:0;
	font-variant-numeric: lining-nums;
}

h1.larger{
	font-size:11vw;
	margin:0;
}

/*h2{
	font-family:GT Super Display;
	font-size:6.5em;
	line-height:0.9em;
	text-transform:uppercase;
	text-align:justify !important;
	overflow:hidden;
}*/

h2{
	font-size:23pt;
	font-weight:300;
	line-height:1.2em;
	margin:0;
	padding:0;
}

h3{
	font-size:23pt;
	line-height:1.1em;
	font-family:'GT Super Display';
	margin-top:2px;
	margin-bottom:7px;
	text-align:left;
	hyphens:none;
}

h4{
	text-indent:1em;
	font-size: 14pt;
    text-transform: uppercase;
    line-height: 14pt;
    min-width: 20em;
    margin: 0;
}

	/*writing-mode: vertical-lr;
text-orientation: mixed;*/
}

h6{
	font-size:11pt !important;
	line-height:1.25em;
}

h6.tag {
    background: var(--main-bg-color);
    color: var(--main-fg-color);
    display: inline-block;
    font-size: 10pt;
    padding: 0.3em 0.5em;
    /*border-radius: 2px;*/
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border: 1px solid var(--main-fg-color);
    margin: -2px 0 0 -1px;
}

.sidebar h6.tag {
	color:var(--main-bg-color);
	background:var(--main-fg-color);
	margin:0.5em 0.5em 0 0;
	border:1px solid var(--main-fg-color);
}

.sidebar h6.tag:hover{
	background:var(--main-bg-color);
	color:var(--main-fg-color);
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

h6.home {
	text-align:left;
	hyphens:auto;
	text-align-last:left;
	padding:0;
	margin:0;
}


.uppercase{
	text-transform:uppercase;	
	margin-top:0;
	margin-bottom:0;
}

p{
	font-size:14pt;
	display:block;
	line-height:1.2em;
	margin:0;
	margin-bottom:10px;
}

p a:hover{
	border:none;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

img{
	line-height:0;
	max-width:100%;
	max-height:100%;
}

.borderimg{
	border:1px solid var(--main-fg-color);
	margin-bottom:10px;
}


/* left and right lines */

.left-line,
.right-line {
	position:fixed;
	pointer-events:none;
	height:100vh;
	width:53px;
	/*background:red;*/
	top:0; 
	z-index:100;
}

.left-line {
	left:0;
	border-right:1px solid var(--main-fg-color);
}

.right-line {
	right:0;
	border-left:1px solid var(--main-fg-color);
}

#backgroundX {
	z-index:-1;
	position:fixed;
}


/* NAVIGATION */
#nav  {	
    margin: 0;
    padding: 0;
    /*top:-3px;*/
    /*z-index: 2;*/
    /*height: 55px;*/
    /*width: calc(100vh + 3px);*/
    /*background: var(--main-fg-color);*/
    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0.5em ;
    vertical-align: center;
    align-items:center;
    transform: rotate(-90deg) translate(calc(-50vh + 25px),calc(-50vh + 25px));
    list-style-type: none;
    overflow:hidden;*/
 }


#nav a{
	text-decoration:none;/*
	color:var(--main-bg-color);
	font-weight:300;
	font-size: 24pt;
    letter-spacing: -0.05em;*/
}

#nav a:hover{
	/*text-decoration:line-through;*/
	font-family:notdef;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}


#nav li {
	position:fixed;
	list-style-type: none;
	margin:0;
	padding:0;
	font-weight:400;

    display:inline-flex;
}

.five{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:0px;
/*  	left:25px;
*/}

.one{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:0;
  	left:1.5em;

}

.three{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom: 0;
  	left:1.5em;
}

.two{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:0;
  	right: -21.5em;
}

.four{
	transform: rotate(-90deg);
    transform-origin: 0% 50%;
    bottom: 0;
    right: -21.5em;
}

/*.filter {
	display:block;
}*/
 /*{
	color:var(--main-fg-color);
	margin:0.25em 0;
	display:inline-block;
	padding:0.25em 25px;
	text-transform:uppercase;
}*/


.filter-by-tag{
	margin-left:1px;
	/*width: calc(100% + 53px);*/
		border-top:1px solid var(--main-fg-color);

	column-span:all;
	max-height:0;
	overflow:hidden;
	transition: all 300ms;
	text-align:justify;
	margin-bottom:25px;
	position:sticky;
	z-index:100000000!important;
	top:0;
/*	background:var(--main-bg-color);
*/	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
}

/*.filter-by-tag:after{
	flex-grow:50;
	content:'';
}*/

.filter-by-tag h6{
/*	width:100px;*/
	margin-top:-1px;
	flex-grow:1;
	text-align:left;
	width:18%;
	padding-left:0.7em;
}

.filter-by-tag.active {
	max-height:500px;
}


.filter-by-tag .tag.active,
.filter-by-tag .tag:hover {
	background:var(--main-fg-color);
	color:var(--main-bg-color);
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}



/* MAIN WORK PAGE */


#container {
	margin:0 53px;
	/*width:calc(100vw - 106px); */
	min-height:100vh;
}

.projects-container{	
	/*display:none;*/
	padding-bottom:50px;
	/*padding-bottom:20vh;*/
	/*margin: 0 25px;*/
}

.projects-container-interior{
	margin:20px;
	column-count:4;
	column-gap:20px;	
	font-size:0;
}

.rect {
	display:inline-block;
	font-weight:300;
	font-size: 24pt;
	color:var(--main-bg-color);
}
/*
.rect::before {
	content:'';
    font-size: 1px;
    display: inline-block;
    width: 14pt;
    height: 18pt;
    box-sizing: border-box;
    border: 1.5pt solid var(--main-bg-color);
    position: relative;
    left: 14.1pt;
    top: 1pt;
}
*/
/*.student-container{
	position:relative;
	top:-15px;
	z-index:10000000;
	width:calc(100vw-80px)
	top:0;
	display:block;
}
*/
/*.projects {
	background:none;
	column-count:4;
	column-gap:0;
	position:relative;
	z-index:1;
	object-fit:cover;
	width:100%;
	top:0;
	display:block;
}*/

.thumbnail {
    width: 100%;
/*    border: 1px solid #00FF00;*/
    line-height: 0;
    height:auto;
    mix-blend-mode: normal;
    object-fit:cover;
    position:relative;
    padding:0;
	margin-bottom:20px;
	border:none;
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
/*	cursor:pointer;
*/	/*box-sizing: border-box;*/
}

.thumbnail img{
	width:100%;
	height:auto;
/*	border-top:none;
*/}

/*.thumbnail:hover img{
	opacity:0.8;
	transition: opacity .5s, visibility .15s;
}*/

.type {
	background:url(/logos/X2.svg);
	background-position:center;
	height:auto;
	padding:2vw;
	width:calc(100% - 4vw - 2px);
	overflow:hidden;
	position:relative;
	color:#00FF00;
	border:1px solid var(--main-fg-color);
}

/*.type h1{
	text-align:justify;
	text-justify: inter-word;
	text-align-last:center;
	-ms-text-align-last:center;
}*/

.type p{
	text-align:left;
	text-align-last:left;
	line-height:1.3em;
/*	font-weight:400;*/
}

.crumbled {
	position:relative;
	transition:all 0.5s ease-out;
}

.close-button {
	float:right;
	clear:both;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
	padding:0 5px 5px 5px;
	column-span:all;
	position:absolute;
	right:70px;
	top:15px;
}

.blm{
/*	column-span:all;
*/	column-count: 2;
	background:var(--main-fg-color);
	padding:20px;
	font-size:27pt;
	line-height:30pt;
	color:var(--main-bg-color);
	margin:0 53px;
	z-index:1000000;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
}

.blm a{
	color:var(--main-bg-color);
}

.blm-resources p{
	line-height:1.3em;
}
.footer{
    background: var(--main-fg-color);
    color: var(--main-bg-color);
    padding: 2em;
    margin: 50px 53px 0px 53px;
    column-count: 2;
}

.footer a{
	color:var(--main-bg-color);
}




/* IMAGE HOVER DESCRIPTION START*/
.img-tags {
  	position: absolute;
  	top: 0;
  	left:0;
  	margin:0;
  	background: var(--main-fg-color);
  	visibility: hidden;
  	opacity: 0;
 	width:calc(100% - 30px);
  	height:calc(100% - 30px);
 	padding:15px;
	z-index:5!important;
  	color:var(--main-bg-color);
  	overflow:hidden;
}

.thumbnail:hover .img-tags {
  visibility: visible;
  opacity: 1;
}

.thumbnail .tag {
	margin:0.25em 0.25em 0 0;
	padding:1em 0.7em;
}

/* STUDENT PAGE */

.background-blur{
	position: fixed;
  	left: 0;
  	right: 0;
  	margin:0;
  	top:-15px;
  	z-index: 0;
  	display: block;
  	background-image: url('../images/aini_haider_1.jpg');
  	width: 100vw;
  	height: calc(100vh + 15px);
  	-webkit-filter: blur(165px);
  	-moz-filter: blur(165px);
  	-o-filter: blur(165px);
  	-ms-filter: blur(165px);
  	filter: blur(165px);
  	background-position: center;
}


.students-container{
	display:grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 25px 0 25px;
/*	margin: 0 1em;
*/}


.about-container{
	display:grid;
	grid-template-columns: 2fr 3fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 25px 100px 25px;
}

.about-2 p img{
	width:15%;
	margin-right:10px;
	vertical-align: middle;
}

/*.vimeo {
	width:66vw;
}

.video-one{
	width:66vw;
	margin-top:20pt;
}*/

.sidebar{
	display:block;
}

hr {
	margin: 1.5em 0;
    border: none;
    border-bottom: 1px solid var(--main-fg-color);
}

.description{
	margin-bottom:10pt;	
}

.social-links{
	margin-bottom:10pt;
/*	display:flex;
	justify-content: space-between;*/
}

.social-links i{
	padding-right:10px;
	font-size:1.5em;
}

.social-links i:hover{
	transform:scale(1.3);
	transform-origin: 50% 50%
}

.sidebar img{
/*	width:100%;*/
	width:66%;
	margin-bottom:10pt;
	margin-top:10pt;
	display:block;
}

.project{
	grid-column-start: 2;
  	grid-column-end: span 4;
}

.project-columns{
	grid-column-start: 2;
  	grid-column-end: span 4;
  	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

.project-columns img{
	width:100%;
}

.project-c23{
	grid-column-start: 1;
  	grid-column-end: span 2;
}

.project-c4{
	grid-column-start: 3;
  	grid-column-end: span 1;
}

.project-all{
	grid-column-start: 1;
  	grid-column-end: span 3;
	line-height:0;
	height:auto;
}

.project img{ 
	margin-bottom:5pt;
	margin-top:25px;
	padding:0;
	width:100%;
}

.project iframe{
	width:calc(100% - 2px);
	/*border:1px solid #00FF00;*/
	/*margin-bottom:5pt;
	margin-top:25px;*/
}

.firstimage img{
	margin-top:0!important;
}

.longimage img,
.caption{
	margin-bottom:2em;
/*	width:66%;
*/}

.longimage{
/*	width:66%;
*/}

.caption{
	margin:0;
	padding:0;
	margin-bottom:1em;
	font-size:11pt;
}


/*STUDENTS LIST PAGE*/

.table-list{
	/*position:relative;*/
	/*margin:0 54px 0 53px;*/
	height:auto;
	border-left:1px solid #00ff00;
/*	border-right:1px solid #00ff00;
*/	z-index:10000000;
	background:none;
	z-index:100000000;
	left:0;
	top:0;
	/*padding-bottom:100px;*/
	/*padding-top:25px;*/
}

.table-list a{
	color:#00FF00;
}

.table-list a:hover{
	color:var(--main-bg-color);
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

table{
	width:calc(100% + 2px);
	border-left:1px solid var(--main-fg-color);
	border-right:1px solid var(--main-fg-color);

}

th, td, table{
  	border-bottom:1px solid #00ff00;
  	border-top:none;
  	border-collapse: collapse;
  	font-weight:300;
  	text-align:left;
  	padding:9pt 9pt 9pt 20pt;
  	font-size:11pt;
  	margin-left:-1px;
}

th, td, table a{
	text-decoration:none;
}

th{
	padding:25px 9pt 9pt 20pt;
	background:var(--main-bg-color);
/*	position:sticky!important;
*/	top:0;
	margin-top:0;
}

tr:hover td{
	background: var(--main-fg-color);
	color:var(--main-bg-color);
}

tr:hover {
	text-decoration:line-through;
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

tr:hover a{
	color:var(--main-bg-color);
	cursor: -webkit-image-set(url(/logos/working-down.svg) 3x ) 26 22, auto;
}

th:hover {
	background: var(--main-fg-color);
	color:var(--main-bg-color);
}

.row-thumb {
	position:absolute;
	max-width:300px;
	max-height:300px;
	pointer-events: none;
}

.reverse {
	transform:translateY(-100%);
	padding-bottom:calc(32pt + 2px);
}

.cell-one{
	width:25%;
}

.cell-two{
	width:50%;
}

.cell-three{
	width:25%;
}



/* BEG OF CORONA VIRUS */
.virus{
	z-index:500000000000000000;
	width:500px;
	height:auto;
	max-width:500px;
}

.holder {
    position:fixed; 
    width:100vw; 
    height:100vh;
    pointer-events:none;
    z-index:1000 !important;
}

/*END OF CORONA VIRUS... i wish*/



/* RESPONSIVE WINDOW SMALLEST*/
@media (max-width:1300px) {
	.projects-container-interior {
		column-count:3;
	}

	h1{
		font-size:8.5vw;
		line-height:0.9em;
	}

	.larger{
		font-size:19vw !important;
	}
}

@media (max-width:1000px) {

	.filter-by-tag.active {
	max-height:1000px;

	}
	h1{
		font-size:15vw;
		line-height:0.9em;
	}

	.larger{
		font-size:27vw !important;
	}

	.projects-container-interior {
		column-count:2;
	}

	.about-container{
		grid-template-columns: 1fr 1fr;
	}

	.students-container{
		grid-template-columns:1fr 1fr;
	}

	.project{
		grid-column-start: 2;
		grid-column-end:span 1;
	}

	.filter-by-tag h6{
		width:22%;
	}
}

@media (max-width:800px){
	
	.filter-by-tag{
		height:100%;
		overflow-y:scroll;
		position:static;
		font-size:10pt;
	}

	.filter-by-tag:active{
		border-bottom:1px solid var(--main-fg-color);
	}

	.filter-by-tag h6{
		width:25%;
	}

	.larger{
		font-size:25vw !important;
	}

	.right-line {
		display:none;
	}

	#container {
		margin:0 0 0 53px;
	}

	.projects-container-interior {
		column-count:1;
	}

	.about-container{
		grid-template-columns: 1fr;
	}

	.students-container{
		grid-template-columns:1fr;
	}

	.project{
		grid-column-start: 1;
	}

	#nav {
		box-sizing: border-box;
		padding:0 1.5em;
		transform-origin: 0 0;
	    transform: rotate(-90deg);
	    position: fixed;
	    left: 0;
	    bottom: -54px;
	    width: calc(100vh + 3px);
	    height:53px;
	    display: flex;
	    background: var(--main-fg-color);
	    justify-content: space-between;
	}

	#nav li {
		position: static;
	    display: inline-block;
	    transform: rotate(0deg);
	    margin-top: -3vh;
	}

	#nav a {
		color:var(--main-bg-color);
	}

	#nav h4{
		font-size:3.8vh;
/*		font-size:21pt;
		text-overflow: hidden;
		white-space:nowrap;*/
	}

	.table-list{
		margin:0 0 0 53px;
		overflow-x:hidden;
	}

	.close-button{
		right:20px;
	}

	.blm{
		column-count:1;
		margin:0 0 0 53px !important;
		background:var(--main-bg-color);
		color:var(--main-fg-color);
		border-bottom:1px solid var(--main-fg-color);
	}

	.blm a{
		color:var(--main-fg-color);
	}

	.footer{
		margin:0 0 0 53px;
	}


}

@media (max-width:600px){


	.type {
		display:none;
	}
	.filter-by-tag h6{
		width:calc(100% / 3)
		font-size:13pt;
		padding:1em;
	}

	.filter-by-tag.active {
		max-height:100%;
	}

	.filter-by-tag{
		margin-bottom:0;
	}

	.projects-container-interior{
		margin:0;
		column-gap:0;	
		font-size:0;
	}

	.type{
		border:none;
		margin-bottom:25px;
		border-bottom:1px solid var(--main-fg-color);
		border-top:1px solid var(--main-fg-color);
	}

	.thumbnail img{
		border-bottom:1px solid var(--main-fg-color);
		border-top:1px solid var(--main-fg-color);
	}

	.thumbnail:hover img{
		opacity:0.8;
		transition: opacity .5s, visibility .15s;
	}



	.img-tags{
		visibility: visible;
		opacity:1;
		position:relative;
		margin-bottom:25px;
		background:none;
		margin:0;
		padding:0;
		border-bottom:1px solid var(--main-fg-color);
		width:100%;

		display:flex;
		flex-flow:row wrap;
		justify-content: space-between;
	}

	.img-tags p,
	.img-tags h3{
		display:none;
	}

	.thumbnail .tag{
		margin:0;
		margin-top:-1px;
		margin-bottom:-1px;
		margin-left:-1px;
/*		width:calc(60% - 52px);
*/		border-right:none;
		flex-grow:1;
		width:45%;
	}

	.thumbnail a{
		text-decoration:none;
	}

	.sidebar {
		display:flex;
		flex-direction:column;
	}


	.sidebar-project {order:3;}
	.sidebar hr {order:2;}
	.sidebar-author {order:1;}

	.sidebar img {
		width:100%;
	}


	h1{
		font-size:30vw;
		line-height:30vw;
	}

	.cell-three,
	.profs {
		display:none;
	}

	.blm{
		padding-top:45px;
	}

}
