/* Typefaces start */
@import 'http://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800,900';
 
@font-face {
    font-family: 'GT Super Display';
    src: url('Fonts/gtsuperdisplay-super-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'GT Super Display Italic';
    src: url('Fonts/gtsuperdisplay-superitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-superitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}


/* Typefaces end */


body{
	background:#0b152e;
	color:#0f0;
	font-family: 'Work Sans', sans-serif;		
	margin:0;
	overflow-y:auto;
	font-weight:300;	
	font-size:12pt;
	margin:0;
	line-height:1.2em;
	hyphens:auto;
}


/* TYPOGRAPHY RULES */


h2, h3, h4, h5, h6 {
	font-weight:300;
}

h1{
	font-family:GT Super Display;
	font-size:7vw;
	line-height:0.9em;
	text-transform:uppercase;
	text-align:justify !important;
	word-spacing:-18px;
	margin:0;
}

h1.larger{
	font-size:13vw;
	margin:0;
}

/*h2{
	font-family:GT Super Display;
	font-size:6.5em;
	line-height:0.9em;
	text-transform:uppercase;
	text-align:justify !important;
	overflow:hidden;
}*/

h3{
	font-size:21pt;
	line-height:24pt;
	font-family:'GT Super Display';
	margin:0;
	margin-bottom:5px;
	text-align:left;
	hyphens:none;
}

h4{
	font-size:12pt;
	text-transform:uppercase;
	line-height:12pt;
}

h6{
	font-size:10pt;
	line-height:1.25em;
}

h6.tag {
	background:#0b152e;
	color:#0f0;
	display:inline-block;
	margin:0.25em 0;
	padding:1em;
	font-size:10pt;
}

.sidebar h6.tag {
	color:#0b152e;
	background:#0f0;
	display:inline-block;
	margin:0.25em 0;
	padding:0.35em 0.5em;
}

h6.home {
	text-align:left;
	hyphens:auto;
	text-align-last:left;
	padding:0;
	margin:0;
}


.uppercase{
	text-transform:uppercase;	
}

a{
	color:#00ff00;
	text-decoration:none;
}

a:hover{
/*	border-bottom:1px solid #00ff00;*/
	text-decoration:line-through;
}

p{
	font-size:12pt;
	display:inline-block;
	line-height:1.2em;
	margin:0;
	margin-bottom:5px;
}
}

img{
	border:1px solid #0f0;
	line-height:0;
}



/* NAVIGATION */
#nav  {	
	margin:0;
	padding:0;
	position:fixed;
	z-index:2;
 }

/*#nav a {
	color:#00FF00;
	text-decoration:none;
}*/

#nav a:hover{
/*	border-bottom:1px solid #00ff00;
*/	text-decoration:line-through;
}

#nav li {
	position:fixed;
	list-style-type: none;
	margin:0;
	padding:0;
}

.one{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-5px;
  	left:25px;
}

.three{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-5px;
  	left:25px;
}

.two{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-5px;
  	right:-30px;
}

.four{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-5px;
  	right:-60px;
}

h6.invert-tag {
	color:#0F0;
	margin:0.25em 0;
	display:inline-block;
	padding:0.25em 25px;
	text-transform:uppercase;
}

.filter-by-tag{
	top:0px;
	position:fixed;
	width:95px;
	height:auto;
	z-index:10!important;
	background:#0b152e;
	display:inline-block;
	border:1px solid #0f0;
	border-top:none;
	margin-left:-1px;
}

.filter-by-tag:hover {
	width:calc(100% - 102px);
	-webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;

}


/* MAIN WORK PAGE */


#container {
	margin:0px 50px;
	border-left:1px solid #00ff00;
	border-right:1px solid #00ff00;
	width:calc(100vw-80px)
	min-height:100vh;
}

.projects-container{	
	column-count:4;
	column-gap:25px;	
	font-size:0;
	display:none;
	margin: 0 25px;
	padding-top:60px;
}

/*.student-container{
	position:relative;
	top:-15px;
	z-index:10000000;
	width:calc(100vw-80px)
	top:0;
	display:block;
}
*/
/*.projects {
	background:none;
	column-count:4;
	column-gap:0;
	position:relative;
	z-index:1;
	object-fit:cover;
	width:100%;
	top:0;
	display:block;
}*/

.thumbnail {
    width: 100%;
/*    border: 1px solid #00FF00;*/
    line-height: 0;
    height:auto;
    mix-blend-mode: normal;
    object-fit:cover;
    position:relative;
    padding:0;
	margin-bottom:25px;
	cursor:pointer;
	/*box-sizing: border-box;*/
}

.thumbnail img {
	width:100%;
	height:auto;
/*	border-top:none;
*/}

.thumbnail:hover img{
	opacity:0.3;
	transition: opacity .5s, visibility .15s;
}

.type {
	background:url(../logos/X2.svg);
	background-position:center;
	height:auto;
	padding:2vw;
	width:calc(100% - 4vw);
	overflow:hidden;
	text-align:justify !important;
	text-align-last:justify!important;
	position:relative;
	color:#00FF00;
	border:1px solid #0f0;
}

.type p{
	text-align:left;
	text-align-last:left;
	line-height:1.3em;
}


/* IMAGE HOVER DESCRIPTION START*/
.img-tags {
  	position: absolute;
  	top: 0;
  	left:0;
  	margin:0;
  	background: rgba(0, 255, 0, 1);
  	visibility: hidden;
  	opacity: 0;
 	width:calc(100% - 30px);
  	height:calc(100% - 31px);
 	padding:15px;
	z-index:5!important;
  	color:#0b152e;
  	overflow:hidden;
  	border:1px solid #0f0;
  	border-bottom:none;
/*  	overflow-y: auto;
*/}

.thumbnail:hover .img-tags {
  visibility: visible;
  opacity: 1;
}


/* STUDENT PAGE */

.background-blur{
	position: fixed;
  	left: 0;
  	right: 0;
  	margin:0;
  	top:-15px;
  	z-index: 0;
  	display: block;
  	background-image: url('../images/aini_haider_1.jpg');
  	width: 100vw;
  	height: calc(100vh + 15px);
  	-webkit-filter: blur(165px);
  	-moz-filter: blur(165px);
  	-o-filter: blur(165px);
  	-ms-filter: blur(165px);
  	filter: blur(165px);
  	background-position: center;
}

.students-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 25px 100px 25px;
}


.project img{ 
	max-height:90vh;
	max-width:100%;
	margin-bottom:5pt;
	margin-top:25px;
}


.sidebar{
/*	border:2px solid black;
*/	display:block;
}

.description{
	margin-bottom:10pt;	
}

.sidebar img{
	width:calc(100% - 2px);
	margin-bottom:10pt;
	margin-top:10pt;
	display:block;
}

.project{
/*	border:2px solid black;
*/	grid-column-start: 2;
  	grid-column-end: span 4;
}

.project iframe{
	width:calc(100% - 2px);
	border:1px solid #00FF00;
	margin-bottom:5pt;
	margin-top:25px;
}

.firstimage img{
	margin-top:0!important;
}

.longimage img,
.caption{
	width:66%;	
}


/*STUDENTS LIST PAGE*/

.table-list{
	position:relative;
	margin:0 50px;
	height:auto;
	border-left:1px solid #00ff00;
	border-right:1px solid #00ff00;
	z-index:10000000;
	background:none;
	z-index:100000000;
	left:0;
	top:0;
	padding-bottom:100px;
}

.table-list a{
	color:#00FF00;
}

.table-list a:hover{
	color:#0b152e;
}

table{
	width:calc(100% + 2px);
}

th, td, table{
  	border-bottom:1px solid #00ff00;
  	border-top:none;
  	border-collapse: collapse;
  	font-weight:300;
  	text-align:left;
  	padding:8pt;
  	font-size:10pt;
  	margin-left:-1px;
}


th{
	padding:21px 10pt 10pt 10pt;
}

/*tbody>tr>:nth-child(3){ 
	text-align:right;
}*/

/*tbody>tr>:nth-child(2){ 
	font-weight:500;
}*/

tr:hover {
	background: #0f0;
	color:#0b152e;
}

tr:hover a{
	color:#0b152e;
}

.cell-one{
	width:25%;
}

.cell-two{
	width:50%;
}

.cell-three{
	width:25%;
}


/* RESPONSIVE WINDOW SMALLEST*/
@media (max-width:1000px) {
	.projects-container {
		column-count:3;
	}

	h1{
		font-size:9vw;
		line-height:0.8em;
	}
}

@media (max-width:800px) {
	.projects-container {
		column-count:2;
	}

	h1{
		font-size:19vw;
		line-height:17vw;
	}
}

/* END OF RESPONSIVE WINDOW */




/* SCROLLBAR START */

/*::-webkit-scrollbar {
  	width: 15px;
}

::-webkit-scrollbar-track {
  	background: #0b152e; 
  	border-left:1px solid #00ff00;
}
 
::-webkit-scrollbar-thumb { 
	background:url('../logos/scrollbar-x2.png') no-repeat;
	background-size:16px 25px; 
    background-position: ;
    top:-1px;
}

::-webkit-scrollbar-thumb:hover {
  	background:rgb(0, 255, 0, 1);
}*/
