/* Typefaces start */
@import 'http://fonts.googleapis.com/css?family=Work+Sans:300,400,500';
 
@font-face {
    font-family: 'GT Super Display';
    src: url('Fonts/gtsuperdisplay-super-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'GT Super Display Italic';
    src: url('Fonts/gtsuperdisplay-superitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-superitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}


/* Typefaces end */


body {
/*	cursor: -webkit-image-set(url(/logos/arrow-up.svg) 2.75x ) 14 19, auto;	
*/	
	background:#0b152e;
	color:#0f0;
	font-family: 'Work Sans', sans-serif;		
	margin:0;
	overflow-y:auto;
	font-weight:300;	
	font-size:12pt;
	margin:0;
	line-height:1.2em;
	/*hyphens:auto;*/
	cursor: -webkit-image-set(url(../Logos/working-up.svg) 3x ) 27 23, auto;
	overflow-x:hidden;
}

::selection{
	background:rgba(0,255,0,0.99);
	color:#0b152e;
}

::-moz-selection{
	background:rgba(0,255,0,0.99);
	color:#0b152e;
}


/* TYPOGRAPHY RULES */

a{
	color:#00ff00;
	text-decoration:underline;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

a:hover{
	text-decoration:line-through;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

h2, h3, h4, h5, h6 {
	font-weight:300;
}

h1{
	font-family:GT Super Display;
	font-size:6.9vw;
	line-height:0.9em;
	display:block;
	text-transform:uppercase;
	text-align:justify;
	text-align-last:justify;
/* for IE9 */
	-ms-text-align-last:justify;
	-ms-text-align:justify;
/*	word-spacing:-18px;
*/	word-spacing:-18px;
	margin:0;
}

h1.larger{
	font-size:11vw;
	margin:0;
}

/*h2{
	font-family:GT Super Display;
	font-size:6.5em;
	line-height:0.9em;
	text-transform:uppercase;
	text-align:justify !important;
	overflow:hidden;
}*/

h2{
	font-size:23pt;
	font-weight:300;
	line-height:1.2em;
}

h3{
	font-size:23pt;
	line-height:1.1em;
	font-family:'GT Super Display';
	margin-top:2px;
	margin-bottom:7px;
	text-align:left;
	hyphens:none;
}

h4{
	font-size:14pt;
	text-transform:uppercase;
	line-height:14pt;

	/*writing-mode: vertical-lr;
text-orientation: mixed;*/
}

h6{
	font-size:11pt;
	line-height:1.25em;
}

h6.tag {
    background: #0b152e;
    color: #0f0;
    display: inline-block;
    font-size: 10pt;
    padding: 0.3em 0.5em;
    /*border-radius: 2px;*/
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border: 1px solid #0f0;
    margin: -2px 0 0 -1px;
}

.sidebar h6.tag {
	color:#0b152e;
	background:#0f0;
	margin:0.5em 0.5em 0 0;
	border:1px solid #0f0;
}

.sidebar h6.tag:hover{
	background:#0b152e;
	color:#0f0;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

h6.home {
	text-align:left;
	hyphens:auto;
	text-align-last:left;
	padding:0;
	margin:0;
}


.uppercase{
	text-transform:uppercase;	
	margin-top:0;
	margin-bottom:0;
}

p{
	font-size:14pt;
	display:block;
	line-height:1.2em;
	margin:0;
	margin-bottom:10px;
}

p a:hover{
	border:none;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

img{
	line-height:0;
	max-width:100%;
	max-height:100%;
}

.borderimg{
	border:1px solid #0f0;
	margin-bottom:10px;
}


/* left and right lines */

.left-line,
.right-line {
	position:fixed;
	pointer-events:none;
	height:100vh;
	width:53px;
	/*background:red;*/
	top:0; 
	z-index:100;
}

.left-line {
	left:0;
	border-right:1px solid #0f0;
}

.right-line {
	right:0;
	border-left:1px solid #0F0;
}

#backgroundX {
	z-index:-1;
	position:fixed;
}


/* NAVIGATION */
#nav  {	
    margin: 0;
    padding: 0;
    /*top:-3px;*/
    /*z-index: 2;*/
    /*height: 55px;*/
    /*width: calc(100vh + 3px);*/
    /*background: #0f0;*/
    /*position: fixed;*/
    /*display: flex;*/
    /*justify-content: space-between;
    box-sizing: border-box;
    padding: 1em 0.5em ;
    vertical-align: center;
    align-items:center;
    transform: rotate(-90deg) translate(calc(-50vh + 25px),calc(-50vh + 25px));
    list-style-type: none;
    overflow:hidden;*/
 }


#nav a{
	text-decoration:none;/*
	color:#0b152e;
	font-weight:300;
	font-size: 24pt;
    letter-spacing: -0.05em;*/
}

#nav a:hover{
	text-decoration:line-through;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}


#nav li {
	margin:0;
	padding:0;
	font-weight:400;

    display:inline;
}


#nav li {
	position:fixed;
	list-style-type: none;
	margin:0;
	padding:0;
 	display:inline-flex;

}

.five{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:0px;
/*  	left:25px;
*/}

.one{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-5px;
  	left:25px;
}

.three{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-5px;
  	left:25px;
}

.two{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-5px;
  	right:-32px;
}

.four{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-5px;
  	right:-67px;
}

/*.filter {
	display:block;
}*/
 /*{
	color:#0F0;
	margin:0.25em 0;
	display:inline-block;
	padding:0.25em 25px;
	text-transform:uppercase;
}*/


.filter-by-tag{
	margin-left:-26px;
	width: calc(100% + 53px);
	column-span:all;
	max-height:0;
	overflow:hidden;
	transition: all 300ms;
	text-align:justify;
	margin-bottom:25px;
	position:sticky;
	z-index:100000000!important;
	top:0;
/*	background:#0b152e;
*/	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
}

/*.filter-by-tag:after{
	flex-grow:50;
	content:'';
}*/

.filter-by-tag h6{
/*	width:100px;*/
	margin-top:-1px;
	flex-grow:1;
	text-align:left;
	width:18%;
	padding-left:0.7em;
}

.filter-by-tag.active {
	max-height:500px;
}



.filter-by-tag .tag.active,
.filter-by-tag .tag:hover {
	background:#0F0;
	color:#0b152e;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}



/* MAIN WORK PAGE */


#container {
	margin:0 53px;
	/*width:calc(100vw - 106px); */
	min-height:100vh;
}

.projects-container{	
	column-count:4;
	column-gap:25px;	
	font-size:0;
	display:none;
	margin: 0 25px;
	padding-bottom:20vh;
	/*width:100%;
	min-height:100vh;*/
}

.rect {
	display:inline-block;
	font-weight:300;
	font-size: 24pt;
	color:#0b152e;
}
/*
.rect::before {
	content:'';
    font-size: 1px;
    display: inline-block;
    width: 14pt;
    height: 18pt;
    box-sizing: border-box;
    border: 1.5pt solid #0b152e;
    position: relative;
    left: 14.1pt;
    top: 1pt;
}
*/
/*.student-container{
	position:relative;
	top:-15px;
	z-index:10000000;
	width:calc(100vw-80px)
	top:0;
	display:block;
}
*/
/*.projects {
	background:none;
	column-count:4;
	column-gap:0;
	position:relative;
	z-index:1;
	object-fit:cover;
	width:100%;
	top:0;
	display:block;
}*/

.thumbnail {
    width: 100%;
/*    border: 1px solid #00FF00;*/
    line-height: 0;
    height:auto;
    mix-blend-mode: normal;
    object-fit:cover;
    position:relative;
    padding:0;
	margin-bottom:25px;
	border:none;
	-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
/*	cursor:pointer;
*/	/*box-sizing: border-box;*/
}

.thumbnail img{
	width:100%;
	height:auto;
/*	border-top:none;
*/}

.thumbnail:hover img{
	opacity:0.3;
	transition: opacity .5s, visibility .15s;
}

.type {
	background:url(../logos/X2.svg);
	background-position:center;
	height:auto;
	padding:2vw;
	width:calc(100% - 4vw - 2px) !important;
	overflow:hidden;
	position:relative;
	color:#00FF00;
	border:1px solid #0f0;
}

/*.type h1{
	text-align:justify;
	text-justify: inter-word;
	text-align-last:center;
	-ms-text-align-last:center;
}*/

.type p{
	text-align:left;
	text-align-last:left;
	line-height:1.3em;
/*	font-weight:400;*/
}


.close-button {
	float:right;
	clear:both;
	cursor:auto;
	padding:0 5px 5px 5px;
}

.blm{
	column-span:all;
	background:#0f0;
	color:#0b152e;
	padding:25px;
	font-size:27pt;
	line-height:30pt;
	margin:-25px -25px 25px -25px;
	z-index:1000000;
}


/* IMAGE HOVER DESCRIPTION START*/
.img-tags {
  	position: absolute;
  	top: 0;
  	left:0;
  	margin:0;
  	background: #0f0;
  	visibility: hidden;
  	opacity: 0;
 	width:calc(100% - 30px);
  	height:calc(100% - 30px);
 	padding:15px;
	z-index:5!important;
  	color:#0b152e;
  	overflow:hidden;
}

.thumbnail:hover .img-tags {
  visibility: visible;
  opacity: 1;
}


.thumbnail .tag {
	margin:0.25em 0.25em 0 0;
}

/* STUDENT PAGE */

.background-blur{
	position: fixed;
  	left: 0;
  	right: 0;
  	margin:0;
  	top:-15px;
  	z-index: 0;
  	display: block;
  	background-image: url('../images/aini_haider_1.jpg');
  	width: 100vw;
  	height: calc(100vh + 15px);
  	-webkit-filter: blur(165px);
  	-moz-filter: blur(165px);
  	-o-filter: blur(165px);
  	-ms-filter: blur(165px);
  	filter: blur(165px);
  	background-position: center;
}


.students-container{
	display:grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 25px 100px 25px;
	margin: 0 1em;
}


.about-container{
	display:grid;
	grid-template-columns: 2fr 3fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 50px 100px 50px;
}

.about-2 p img{
	width:15%;
	margin-right:10px;
	vertical-align: middle;
}

/*.vimeo {
	width:66vw;
}

.video-one{
	width:66vw;
	margin-top:20pt;
}*/

.sidebar{
	display:block;


}

hr {
	margin: 1.5em 0;
    border: none;
    border-bottom: 1px solid #0f0;
}

.description{
	margin-bottom:10pt;	
}

.social-links{
	margin-bottom:10pt;
/*	display:flex;
	justify-content: space-between;*/
}

.social-links i{
	padding-right:10px;
	font-size:1.5em;
}

.social-links i:hover{
	transform:scale(1.3);
	transform-origin: 50% 50%
}

.sidebar img{
/*	width:100%;*/
	width:66%;
	margin-bottom:10pt;
	margin-top:10pt;
	display:block;
}

.project{
	grid-column-start: 2;
  	grid-column-end: span 4;
}

.project-columns{
	grid-column-start: 2;
  	grid-column-end: span 4;
  	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

.project-columns img{
	width:100%;
}

.project-c23{
	grid-column-start: 1;
  	grid-column-end: span 2;
}

.project-c4{
	grid-column-start: 3;
  	grid-column-end: span 1;
}

.project-all{
	grid-column-start: 1;
  	grid-column-end: span 3;
	line-height:0;
	height:auto;
}

.project img{ 
	margin-bottom:5pt;
	margin-top:25px;
	padding:0;
	width:100%;
}

.project iframe{
	width:calc(100% - 2px);
	/*border:1px solid #00FF00;*/
	/*margin-bottom:5pt;
	margin-top:25px;*/
}

.firstimage img{
	margin-top:0!important;
}

.longimage img,
.caption{
	margin-bottom:2em;
/*	width:66%;
*/}

.longimage{
/*	width:66%;
*/}

.caption{
	margin:0;
	padding:0;
	margin-bottom:1em;
}


/*STUDENTS LIST PAGE*/

.table-list{
	/*position:relative;*/
	margin:0 53px 0 53px;
	height:auto;
	border-left:1px solid #00ff00;
	border-right:1px solid #00ff00;
	z-index:10000000;
	background:none;
	z-index:100000000;
	left:0;
	top:0;
	/*padding-bottom:100px;*/
	/*padding-top:25px;*/
}

.table-list a{
	color:#00FF00;
}

.table-list a:hover{
	color:#0b152e;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

table{
	width:calc(100% + 2px);
	border-left:1px solid #0f0;
	border-right:1px solid #0f0;
}

th, td, table{
  	border-bottom:1px solid #00ff00;
  	border-top:none;
  	border-collapse: collapse;
  	font-weight:300;
  	text-align:left;
  	padding:9pt 9pt 9pt 20pt;
  	font-size:11pt;
  	margin-left:-1px;
}

th, td, table a{
	text-decoration:none;
}

th{
	padding:25px 9pt 9pt 20pt;
	background:#0b152e;
	position:sticky!important;
	top:0;
	margin-top:0;
}

tr:hover td{
	background: #0f0;
	color:#0b152e;
}

tr:hover {
	text-decoration:line-through;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

tr:hover a{
	color:#0b152e;
	cursor: -webkit-image-set(url(../Logos/working-down.svg) 3x ) 26 22, auto;
}

th:hover {
	background: #0f0;
	color:#0b152e;
}

.row-thumb {
	position:absolute;
	max-width:300px;
	max-height:300px;
	pointer-events: none;
}

.cell-one{
	width:25%;
}

.cell-two{
	width:50%;
}

.cell-three{
	width:25%;
}

/* RESPONSIVE WINDOW SMALLEST*/
@media (max-width:1300px) {
	.projects-container {
		column-count:3;
	}

	h1{
		font-size:8.5vw;
		line-height:0.9em;
	}

	.larger{
		font-size:19vw !important;
	}
}

@media (max-width:1000px) {
	.projects-container {
		column-count:2;
	}

	h1{
		font-size:15vw;
		line-height:0.9em;
	}

	.larger{
		font-size:27vw !important;
	}

	.about-container{
		grid-template-columns: 1fr;
	}

	.students-container{
		grid-template-columns:1fr;
	}



	.project{
		grid-column-start: 1;
		grid-column-end:span 1;
	}

	.filter-by-tag h6{
		width:22%;
	}
}

	@media (max-width:800px){
	.filter-by-tag{
		width: calc(100% + 82px);
	}


	.filter-by-tag h6{
		width:25%;
	}

	.larger{
		font-size:25vw !important;
	}

	.right-line {
		display:none;
	}

	#container {
		width:calc(100vw - 20px);
	}


	#nav {
		box-sizing: border-box;
		padding:0 1.5em;
		transform-origin: 0 0;
	    transform: rotate(-90deg);
	    position: fixed;
	    left: 0;
	    bottom: -53px;
	    width: 100vh;
	    height:53px;
	    display: flex;
	    background: #0F0;
	    justify-content: space-between;
	}

	#nav li {
		position: static;
	    display: inline-block;
	    transform: rotate(0deg);
	    margin-top: -3vh;
	}

	#nav a {
		color:#0b152e;
	}

	#nav h4{
		font-size:4vh;
/*		font-size:21pt;
		text-overflow: hidden;
		white-space:nowrap;*/
	}

	.table-list{
		margin:0 -1px 0 53px;
	}

}

@media (max-width:600px){
	.filter-by-tag h6{
		width:35%;
		font-size:15pt;
	}

	.filter-by-tag.active {
		max-height:100%;
	}

	h6{

	}
}
