/* Typefaces start */
@import 'http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900';

@font-face {
    font-family: 'GT Super Display';
    src: url('Fonts/gtsuperdisplay-super-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'GT Super Display Italic';
    src: url('Fonts/gtsuperdisplay-superitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-superitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Text';
    src: url('Fonts/gtsupertext-book-webfont.woff2') format('woff2'),
         url('Fonts/gtsupertext-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Text Italic';
    src: url('Fonts/gtsupertext-bookitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsupertext-bookitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}
/* Typefaces end */


body{
	background:#0b152e;
/*	background: rgb(0, 15, 71);
*/
/*	background-image: radial-gradient(circle, #0b152e 5%, #00ff00 20%, #0b152e 50%);
*/	color:white;
	font-family: 'Work Sans', sans-serif;	
	line-height:1em;
	margin:15px 15px 0 15px;
	font-size:14pt;
	overflow-y:auto;
}

/* TYPOGRAPHY RULES */

h1{
	margin-top:0;
	margin-left:-5px;
	font-family:GT Super Display;
	font-size:8.5vw;
	line-height:7vw;
	text-transform:uppercase;
	display:table-cell;
	text-align:justify !important;
	word-spacing:-18px;
}

h2{
	margin-top:0;
	font-family:GT Super Display;
	font-size:6.5em;
	line-height:0.9em;
	text-transform:uppercase;
	display:table-cell;
	text-align:justify !important;
	overflow:hidden;
}

h3{
	font-size:26pt;
	font-weight:400;
	line-height:28pt;
	font-family:'GT Super Display';
	margin:0;
	margin-bottom:5pt;
}

h4{
	font-size:12pt;
	text-transform:uppercase;
	font-weight:400;
	line-height:12pt;
}

h5{
	font-size:20pt;
	font-weight:400;
	margin:0;
	line-height:22pt;
}

h6{
	font-size:12pt;
	font-weight:400;
	margin:0;
	line-height:15pt;
	hyphens:auto;
}

.uppercase{
	text-transform:uppercase;
}

a{
	color:#00ff00;
	text-decoration:none;
}

a:hover{
/*	border-bottom:1px solid #00ff00;*/
	text-decoration:line-through;
}

p{
	font-size:12pt;
	font-weight:400;
	display:inline-block;
	line-height:14pt;
}


/* NAVIGATION */
#nav  {	
	margin:0;
	padding:0;
	position:fixed;
	z-index:2;
 }

/*#nav a {
	color:#00FF00;
	text-decoration:none;
}*/

#nav a:hover{
/*	border-bottom:1px solid #00ff00;
*/	text-decoration:line-through;
}

#nav li {
	position:fixed;
	list-style-type: none;
	margin:0;
	padding:0;
}

.one{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-15px;
  	left:25px;
}

.three{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-15px;
  	left:25px;
}

.two{
	transform: rotate(90deg);
  	transform-origin: 0% 50%;
  	top:-15px;
  	right:-30px;
}

.four{
	transform: rotate(-90deg);
  	transform-origin: 0% 50%;
  	bottom:-15px;
  	right:-60px;
}


/* MAIN WORK PAGE */

.projects-container{
	position:relative;
/*	overflow-y:auto;
*/	margin:0px 35px 0px 40px;
	top:-15px;
	height:auto;
	border-left:1px solid #00ff00;
	border-right:1px solid #00ff00;
	z-index:10000000;
}

.projects {
	background:none;
	column-count:4;
	column-gap:0;
	position:relative;
	z-index:1;
	font-size:0;
	object-fit:cover;
	width:100%;
	top:0;
	display:block;
	margin-left:-1px;
}

.thumbnail {
    width: 100%;
    border: 1px solid #00FF00;
    border-top:none;
    padding: 0;
    line-height: 0;
    height:auto;
    mix-blend-mode: normal;
    object-fit:cover;
    position:relative;
}


.thumbnail img {
	max-width:100%;
	height:auto;
	width:100%;
}

.thumbnail:hover img{
	opacity:0.3;
	transition: opacity .5s, visibility .15s;
}

.type {
	background:url(../logos/X2.svg);
	background-position:center;
	height:auto;
	padding:30px;
	width:calc(100% - 60px);
	overflow:hidden;
	text-align:justify !important;
	text-align-last:justify!important;
	position:relative;
	color:#00FF00!important;
}

/* IMAGE HOVER DESCRIPTION START*/
.img-tags {
  position: absolute;
  top: 0;
  left:0;
  margin:0;
  background: rgba(0, 255, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  width:calc(100% - 30px);
  height:calc(100% - 30px);
  padding:15px;
/*  transition: opacity .5s, visibility .15s;
*/  z-index:100000000000!important;
  color:#0b152e;
  display:inline-block;
  overflow-y:auto;
}

.thumbnail:hover .img-tags {
  visibility: visible;
  opacity: 1;
}


/* STUDENT PAGE */

.students-container{
	position:relative;
/*	overflow-y:auto;
*/	margin:0 35px 0 40px;
	top:-15px;
	height:auto;
	border-left:1px solid #00ff00;
	border-right:1px solid #00ff00;
	z-index:10000000;
	background:white;
	z-index:100000000;

	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	padding:25px 25px 100px 25px;

/*	background: white url(../logos/X2.svg);
*/
}

.sidebar{
/*	border:2px solid black;
*/	color:#0b152e;
	display:block;
}

.description{
	margin-bottom:15pt;
}

.sidebar img{
	width:calc(100% - 2px);
	border:1px solid #00FF00;
	margin-bottom:10pt;
}

.project{
/*	border:2px solid black;
*/	grid-column-start: 2;
  	grid-column-end: span 4;
  	color:#0b152e;
}

.project img{
	width:calc(100% - 2px);
	border:1px solid #00FF00;
	margin-bottom:5pt;
	margin-top:25px;
}

.firstimage img{
	margin-top:0!important;
}

.longimage img{
	width:66%;
}

.caption{
/*	width:calc(33% - 50px);
*/	width:66%;
}



/* SCROLLBAR START */

/* width */
::-webkit-scrollbar {
  	width: 15px;
/*  display:none;
*/}

/* Track */
::-webkit-scrollbar-track {
  	background: #0b152e; 
  	border-left:1px solid #00ff00;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
/*  background:rgb(0, 255, 0, 0.6);
*/  
	background:url('../logos/scrollbar-x2.png') no-repeat;
	background-size:16px 25px; 
/*    background-position:;
    display: block;
    width: 10px;
    height: 50px;*/
    background-position: ;
    top:-1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background:rgb(0, 255, 0, 1);
}


/* RESPONSIVE WINDOW SMALLEST*/
@media (max-width:700px) {
	.projects{
		column-count:2;
	}

	h1{
		font-size:19vw;
		line-height:17vw;
	}
}

/* END OF RESPONSIVE WINDOW */
