 Typefaces start */
@import 'http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900';

@font-face {
    font-family: 'GT Super Display';
    src: url('Fonts/gtsuperdisplay-super-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-super-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Display Italic';
    src: url('Fonts/gtsuperdisplay-superitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsuperdisplay-superitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Text';
    src: url('Fonts/gtsupertext-book-webfont.woff2') format('woff2'),
         url('Fonts/gtsupertext-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Super Text Italic';
    src: url('Fonts/gtsupertext-bookitalic-webfont.woff2') format('woff2'),
         url('Fonts/gtsupertext-bookitalic-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}
/* Typefaces end */


body{
	background:#0b152e;
	color:#0b152e;
	font-family: 'Work Sans', sans-serif;	
	line-height:1em;
	text-align:left;
	margin:15px;
	overflow-x:none;
}

h1{
	margin-top:0;
	margin-left:-5px;
	font-family:GT Super Display;
	color:#00ff00;
	font-height:;
	font-size:12vw;
	line-height:10.5vw;
	text-transform:uppercase;
	display:table-cell;
	text-align:justify!important;
}

.larger{
	font-size:26.5vw;
	line-height:20vw;
}

h4{
	font-size:12pt;
	text-transform:uppercase;
	font-weight:400;
	/*background:#00ff00;
	padding:2px 3px;*/
}

a{
	color:blue;
}


#nav  {	
	margin:0;
	padding:0;
}

#nav a {
	color:#00FF00;
	text-decoration:none;
}

#nav li {
	position:fixed;
	z-index:2;
	margin:0;
	padding:0;
	list-style-type: none;
}

.nav-top{
	left:35px;
	top:-8px;
}

.nav-left{
  	transform: rotate(-90deg);
  	transform-origin: 0 50%;
  	bottom:-21px;
  	position:absolute;
  	left:16px;
}

.nav-right{
	right:20px;
	top:40px;
	transform-origin: 100% 50%;
	transform: rotate(90deg);
}


.projects {
	background:none;
	/*display:grid;
  	grid-template-columns: 1fr 1fr 1fr; 
	grid-gap:10px;*/
	column-count:3;
	column-gap:11px;
/*	max-width:100vw;
*/	margin:0px 25px;
	top:25px;
	position:relative;
	z-index:1;
	font-size:0;
}

.student-projects {
/*	background:none;
	display:grid;
  	/*grid-template-columns: 1fr 2fr; */
	grid-gap:10px;
	max-width:100vw;
	margin:50px 25px;
	top:25px;
	/*position:fixed;*/
	z-index:10!important;
	overflow-x:hidden;
}

.student-projects img{
	width:90%;
	margin-left:5%;
}

.sidebar{
	background:white;
	height:auto;
	max-height:100px;
	width:calc(33% - 50px);
	position:fixed;
	z-index:5!important;
}

.project-bar {
	background:gray;
	color:#FFFFFF;
	height:auto;
	border:1px solid #00FF00;
	margin-left:33%;
}


/*.projects{
	display:flex;
	flex-flow:column wrap;
	max-height:1000px;
	margin:0px;
	width:100px;
	max-width:100vw;
}*/

/*.projects{
	column-count:3;
	column-gap:10px;
}*/

.thumbnail {
	background: gray;
    color: #FFFFFF;
    min-height: 150px;
    width: 98%;
/*    border: 1px solid #00FF00;
*/  display: inline-block;
    padding: 0;
    line-height: 0;
    height:auto;
    margin-top:5px;
}


.thumbnail img {
	max-width:100%;
	border: 2px solid #00FF00;
}


.long {
	background:white;
	height:400px;
}

.type {
	background:none;
	height:auto;
	max-height:1000px;
	padding:0;
	padding-top:5px;
	border:none;
}



/* X BACKGROUND STARTS*/
#background {
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	/*z-index:30;*/
	pointer-events: none;
}

#Xerino{
	position:fixed;
	z-index:-1;
	margin:auto;
	left:-5px;
	top:0;
	width:calc(100vw - 10px);
	height:100vh;
	transform: scale();
}
/* X BACKGROUND ENDS*/
