<!DOCTYPE html> 
<html lang="en">
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">


	<meta property="og:title" content="{{title}}" />
	<meta property="og:image" content="/images/thumbnails/{{metaimg}}" />
	<meta property="og:description" content="{{desc}}" />



	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{desc}}">
	<meta name="twitter:image" content="/images/thumbnails/{{metaimg}}" />


	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168644928-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-168644928-1');
</script>


	<title> {{title}} | 2020.ocadu.gd </title>
	<script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/03cdb0486d.js" crossorigin="anonymous"></script>
	<script type='text/javascript' src='//cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>

	<link rel="stylesheet" href="/style/style.css">

</head>
 
<body>

	

	<div id="backgroundX"></div>

	<!-- left and right border -->
	<div class="left-line"></div>
	<div class="right-line"></div>

	<!-- NAVIGATION -->	
	<ul id="nav">
		<li class="one top left"><h4>
			<a href="/">OC<x>A</x>DU <x>GD</x> 2020</a>
		</h4></li>
		
		<li class="bottom left three"><h4>
			<a href="/about">ABO<x>UT</x></a>
		</h4></li>

		<li class="bottom right four"><h4><a href="/students">ST<x>U</x>DE<x>N</x>TS</a></h4></li>

		<li class="top right two"><h4><a href="/" class="filter">filter</a></h4></li>
	</ul>

	<div class="blm">
				<div class="close-button">&times;</div>
				
				<div class="blm-writeup">
				<h3>BLACK<br />LIVES<br />MATTER</h3>
				<p>
As designers committed to decolonizing our practices, we feel that it is important for us to help amplify Black voices that have historically been underrepresented within our discipline. We are using this site as a public platform in support of Black Lives Matter within our communities and beyond. We ask that you take some time alongside looking at our work, to explore these collected resources.

				</p>
			</div>

				<div class="blm-resources">

					<h3>FOR DESIGNERS:</h3>
					<p>
					<a target=_blank href="https://www.instagram.com/p/CBRKBxmji0r/">Dear white & non-Black POC designers</a><br>
					<a target=_blank href="https://www.instagram.com/wherearetheblackdesigners/">Where are the Black designers?</a><br>
					<a target=_blank href="https://www.are.na/paul-soulellis/decolonial-teaching-in-action">Decolonial Teaching in Action</a><br><br>
					</p>

					<h3>FOR EVERYONE:</h3>
					<p>
					<a target=_blank href="https://docs.google.com/document/d/1a-lzdtxOlWuzYNGqwlYwxMWADtZ6vJGCpKhtJHHrS54/edit?usp=sharing">Anti-Racist Resource Guide: Become a better ally</a><br>
					<a target=_blank href="https://docs.google.com/document/d/13Liu5aTBEdqqqntfOyAgK9IH5sfMwM4ZE1wlSE5IJUw/edit">A Radical Library (incl. books, texts, podcasts, & articles)</a><br>
					<a target=_blank href="https://www.instagram.com/p/CA_UPqDHOKL/">How to talk to people who disagree</a><br>
					<a target=_blank href="https://www.instagram.com/p/CBWT321h16t/">How to support Black artists</a><br>
					</p>

				</div>

			</div>
	<div id="container">
		{{{stuff}}}
	</div>
	<div class="footer">
			<h2>
				Recession Grads is a digital archive & exhibition set to showcase the work of the Graphic Design 2020 graduating class at OCADU.
				<br><br>
			</h2>
			<h3>
				<a target=_blank href="https://www.instagram.com/gdgx_2020/">INSTAGRAM</a><br><br>

				<a target=_blank href="https://2020.ocadu.gd/">BLM RESOURCES</a><br>
			</h3>

		</div>

	<!-- JAVASCRIPT -->
 	<script src="/js/main.js"></script>


</body>
</html>